<div id="page-landing">
  <div class="content-wrapper">
    <img src="./assets/logo.svg" alt="logo da happy" />

    <main>
      <h1>Leve felicidade para o mundo</h1>
      <p>Visite orfanatos e mude o dia de muitas crianças.</p>
    </main>

    <div class="location">
      <strong>Contagem</strong>
      <span>Minas Gerais</span>
    </div>

    <a href="#/home" class="enter-app">
      <ng-md-icon icon="arrow_forward" style="fill: rgba(0, 0, 0, 0.6)" size="26"></ng-md-icon>
    </a>
  </div>
</div>
